<div class="form-header">
	<div class="content padding-20">
	<h2>Изменить <%= @item.name %></h2>
</div>
</div>
<div class="content padding-20">
	<%= render 'form' %>
	<img class="item-picture" src="">
</div>
