.create-edit{
	display: block;
	width: 40%;
	float: left;
}
.create-edit .field{
	margin-bottom: 1em;
}
.create-edit .field label{
	font-size: 0.875em;
	padding-bottom: 0.25em;
	display: block;
	color: #999;
}
.create-edit .field input[type="text"]{
	height:2em;
	font-size: 1em;
	width: 100%;
	padding: 0 0.25em;
}
.create-edit input[type="submit"]{
	color: #eee;
	background-color: #000;
	padding: 0.5em 2em;
	border: none;
}
.create-edit input[type="submit"]:hover{
	background-color: #37103d;
}
.create-edit .actions{
	padding-top: 1em;
}