<header>
  <div class="content">
    <div class="logo">
        <a href="/"><%= image_tag "/assets/logo.png" %></a>
      </div>
    <div class="user">
    <% if current_user %>
      <%= current_user.email %><%= link_to("Log out", logout_path, class: "logout-link") %>
      <% end %>
    </div>
  </div>
</header>