<header>
  <div class="content">
    <div class="logo">
        <a href="/"><%= image_tag "/assets/logo.png" %></a>
      </div>
    <div class="user">Танский Юрий <a class="logout-link" href="/logout">Выйти</a></div>
  </div>
</header>